

.wrapper{
	position: relative;
}
.navbar-fixed-left {
	position: fixed;
	width: 240px;
	height: 100%;
	padding: 50px 0;
	background-color: #fff;
}
.navbar-fixed-left:after{
	content: '';
	position: absolute;
	height: 75%; 
	width: .5px;
	right: 0;
	top: 14%; 
	background-color: #E6EDFF; 
}

.navbar-brand{
	padding-left: 40px;
}
.menu,.close{
	color: #bdb8d7;
	font-size: 25px;
	position: absolute;
	top: 8%;
	right: 6%;
	display: none;
}
/* .no-sidebar{
	left: -160px;
} */

.navbar-nav{
	padding-top: 20px;
}

.navbar-fixed-left .navbar-nav li{
	padding: 15px 0px 0 40px;
	
}
/* .navbar-fixed-left .navbar-nav >li:hover{
} */

.navbar-fixed-left .navbar-nav li a{
	color: #bdb8d7;
	display: block;
	font-size: 17px;
	height: 40px;
}
.icon{
	padding-right: 6px;
	position: relative;
	top: 10%;

}
.navbar-fixed-left .navbar-nav .nav-item a:hover{
	border-right: 4px solid #347AE2 ; 
	color: #347AE2;
	transition: .20s ease-in-out;
}
.BottomMenu{
	position: fixed;
	bottom: 5%;
	left: 0;


}
.BottomMenu .nav-item1 {
	padding-top: 0px !important;
}
.BottomMenu .nav-item1 a:hover{
	color: #347AE2;
	transition: .20s ease-in-out;
}















.wrapper .sidebar ul li{
	padding: 15px;	
}
.wrapper .sidebar ul li a{
	color: #bdb8d7;
	display: block;
}
.wrapper .sidebar ul li a .fas{
	width: 25px!important;
}
.wrapper .sidebar ul li a .far{
	width: 25px!important;
}
.wrapper .sidebar ul li:hover{
	background: #311B92;
}
.wrapper .sidebar ul li a:hover{
	color: #fff;
	text-decoration: none;
}
.myproject{
	margin-top: 25px;
	color: #ffffffa8;
	font-size: 14px;
	margin-bottom: 0;
}
.userProfile{
	position: absolute;
	bottom: 0;
	left: 5%;
	display: flex;

}
.userProfile a{
	width: 20px;
	background: #4527A0;
	color: #bdb8d7;
	text-decoration: none;
	font-size: 15px;
}
.userProfile a:hover{
	color: #fff;
	background: #4527A0;
}
.userProfile p{
	color: #fff;
	padding: 0 15px 0 15px;
}
.userProfile 
.xyz,
.mnp{
	padding-top: 60%;
	line-height: 30px;
	font-size: 25px!important;
}
.notification1{
	display: flex;
}
.notification1 .number1{

	font-size: 15px;
	display: block;
    padding-left: 100px;
    color: #fff;
} 
 
.notification2{
	display: flex;
}
.notification2 .number2{
	font-size: 15px;
	display: block;
    padding-left: 85px;
    color: #fff;
   }